.tableHeader {
    color: rgba(255, 255, 255, 0.5);
}

.ticketInfo {
    padding-left: 50px;
    flex-grow: 1;
}
.ticketInfoItem {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 350px 350px;
    height: auto;
}
.ticketInfoItem * {
    font-family: "Lato";
    font-size: 20px;
}
.multipleRow {
    margin-top: 30px;
}
.multipleRow:first-child {
    margin-top: 0;
}
