.payment-title{
    
/* position: absolute; */
/* width: 175px;
height: 52px;
left: 47px;
top: 702px; */

font-family: 'Habibi';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 45px;

color: #FF8036;


}
.payment-method{
    display: grid;
    grid-template-columns: 120px 120px 120px;
}