.payment-title {
    /* position: absolute; */
    /* width: 175px;
height: 52px;
left: 47px;
top: 702px; */

    font-family: "Habibi";
    font-size: 36px;

    color: #ff8036;
    width: 100%;
    margin-bottom: 10px;
}
.payment-method {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    border: 1px solid #36393e;
}
.payment-method div {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.payment-method div:nth-child(-n + 3) {
    border-bottom: 1px solid white;
    padding: 10px 0;
}
