
.sessionExpired > *{
    color: white;
    font-family: 'lato';
    border: none;
   }
   
   .sessionExpired{
       display: flex;
       flex-direction: column;
   }
   .sessionExpired > *{
    color: white;
    font-family: 'lato';
    border: none;
   }
   
   .sessionExpired{
       display: flex;
       flex-direction: column;
   }