#filterIcon {
    width: auto;
    height: 25px;
    opacity: 25%;
    margin-left: 10px;
}

#filterModalContainer {
    right: 1%;
    height: 350px !important;
    margin-right: 5px;
}

#filterModalContainer * {
    font-size: large !important;

}

.list {
    min-width: 1423px;
}
.title{
    margin-left: 20px;
    margin-right: 20px;
}