#filterIcon{
    width: auto;
    height: 25px;
    opacity: 25%;
    margin-left: 10px;
}
#filterModalContainer{
    right: 1%;
    height: 350px !important;
    
}

#filterModalContainer * {
    font-size: large !important;
}

.list{
    min-width: 1423px;
}


