.imageOne > img {
    object-fit: cover;
    width: 600px;
    height: 200px;
}
.imageTwo > img {
    object-fit: cover;
    height: 200px;
}

.imageOne {
    z-index: 1;
}

.imageTwo {
    z-index: 0;
    margin-top: -200px;
}
img {
    border-radius: 5px;
}
