/* .fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 310px;
    width: 800px;
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
} */
img {
    object-fit: cover;
    width: 500px;
    height: 300px;
}
