.imageOne > img {
    object-fit: cover;
    width: 671.5px;
    height: 230px;
}
.imageTwo > img {
    object-fit: cover;
    height: 230px;
}

.imageOne {
    z-index: 1;
}

.imageTwo {
    z-index: 0;
    margin-top: -230px;
}
img {
    border-radius: 5px;
}
.movieCard {
    margin: 20px;
}

.movieName {
    margin-top: 10px;
    font-size: 16px;
}
.tag {
    font-size: 14px;
    color: #637394;
}
