#filterModalContainer {
    position: absolute;
    height: 240px;
    width: auto;
    overflow: hidden;
    display: inline-block;
}

#filterModalContainer>img {
    height: 100%;
    width: auto;
}

#filterContentContainer {
    position: absolute;
    height: 100%;
    width: 110%;
    top: 0px;
    left: 0px;
    padding: 4% 3% 3% 3%;
    overflow: hidden;
}

#filterContentContainer>* {
    font-family: 'Lato';
}

h2 {
    color: #f07b36
}

.ant-checkbox-wrapper> *{
    color: white;
}

.ant-checkbox{    
    border: 1px solid white;
}

.ant-checkbox > *{
    visibility: hidden !important;
}

.ant-checkbox-inner::after{
    transition: none;
    visibility: visible;
    border: none;
}
.ant-checkbox-checked::after{
    visibility: hidden !important;
}

.ant-checkbox-group{
    height: 100%;
}