.homeIcon {
    font-size: 72px;
    color: #7289ee;
}
.header {
    height: 100px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding: 10px 20px;
}
.header > * {
    flex: 1;
}
.rightDiv {
    text-align: right;
}
.rightDiv > * {
    margin-left: 20px;
}
.header * {
    vertical-align: middle;
}
.centerDiv {
    text-align: center;
}
.body {
    padding: 20px;
}
.button {
    background-color: #7289ee;
}
.logo {
    margin: 0 8px;
}
